html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 400;
  src: local("TTLake"),
    url("/fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

body {
  font-family: "TTLakes", sans-serif;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  margin-right: auto;
  padding: 0 24px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

.burger__header {
  display: flex;
  justify-content: space-between;
}

.burger__header-content {
  display: flex;
  padding-top: 19px;
  margin-bottom: 46px;
}

.burger__close {
  margin-right: 17px;
}

.burger__search {
  height: 40px;
  padding-top: 23px;
}

.burger__close:hover,
.burger__search:hover,
.burger__links a:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3 ease;
}

.burger__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 268px;
}

.burger__nav-item {
  margin-bottom: 32px;
}

.burger__nav-item:hover {
  cursor: pointer;
  color: #7e7e82;
  transition: all 0.3s ease;
}

.burger__nav-item:last-child {
  margin-bottom: 0;
}

.burger__nav-item.active {
  color: #7e7e82;
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 32px;
  top: -3px;
  left: -24px;
  background: #41f6d7;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.burger__links a {
  margin-right: 16px;
}

.burger__links a:last-child {
  margin-right: 0;
}

.burger__links {
  margin-bottom: 16px;
}
.burger__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 22px;
}

.burger__tel {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.burger__lang{
  margin-bottom: 32px;
}

.burger__lang-link {
  margin-right: 7px;
}

.burger__lang-link:last-child {
  margin-right: 0;
}

.burger__lang-link.active {
  color: #7e7e82;
}
